.information{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.information ul {
  flex: 1 0 auto;
}

.information li{
  margin-left: -40px;
  list-style-type: none;
}

.information h5 {
  margin:0px 0px 5px 0px;
}

.items {
  /* transition: 0.3s; */
  /* background-color: #292929; */
  /* border-radius: 25px; */
  border: #292929 solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25em;
  /* justify-content: space-between; */
  margin-bottom: 1.55em;
  gap: 0.5em;
}

.information h6 {
  padding: 10px;
}

.items div {
  /* aspect-ratio: 1;
  width: calc((100% - 1em) / 3); */
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
