.quests {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.quests h1 {
  flex: 0 0 auto;
}

.quests ul {
  margin-top: 0;
  margin-bottom: 1em;
  overflow-y: hidden;
  padding: 0;
  flex: 0 1 auto;
}

.quests .quest-box {
  list-style: none;
  color: #696969;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  border: #696969 solid 1px;
  border-radius: 0.5em;

  height: 4.2em;
  opacity: 0;
  animation: appear 0.3s linear 0.5s forwards;
}

.quests .quest-box.completed {
  color: #72a272;
  border-color: #72a272;

  opacity: 1;
  border-width: 3px;
  animation: disappear 0.3s linear 0.5s forwards;
}

@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes disappear {
  to {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border-width: 0;
  }
}

.quests .quest-box span {
  display: block;
}

.quests .quest-box span:nth-child(1) {
  margin-bottom: 0.25em;
  height: 2.2em;
}

.quests .quest-box span:nth-child(2) {
  color: #039c03;
}