.app {
  /* background-color: rgb(39, 50, 148); */
  display: flex;
  flex-direction: row;
}

.app > * {
  padding: 1em;
}

.app .left-panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.app .left-panel > div {
  max-height: 50%;
}

.actionComponent {
  height: 100%;
  flex-grow: 1;
}
